.labelLayout{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    font-family: "Lucida Console", "Courier New", sans-serif;
}

.infoLayout{
    margin-left: auto;
    margin-right: auto;
    font-family: "Lucida Console", "Courier New", sans-serif;
}

.allCarsButton{
    border-radius: 8px;
    cursor: pointer;
}

.allCarsButton:hover{
    transition: 0.3s;
    background-color: #11d7d7;
}

.buttonHl{
    margin-left: auto;
    margin-right: auto;
}

.markLabelHl{
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

.infoHl{
    margin-left: 15%;
    margin-right: 15%;
}

.infoText{
    text-indent: 25px;
    line-height: 150%;
    color: #525252;
    font-family: "Lucida Console", "Courier New", sans-serif;
}