.labelLayout{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.infoLayout{
    margin-left: auto;
    margin-right: auto;
}

.allCarsButton{
    background-color: #606060;
    border-radius: 8px;
    color: antiquewhite;
}

.buttonHl{
    margin-left: auto;
    margin-right: auto;
}