.labelLayout{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    font-family: "Lucida Console", "Courier New", sans-serif;
}

.infoLayout{
    margin-left: auto;
    margin-right: auto;
    font-family: "Lucida Console", "Courier New", sans-serif;
}

.allCarsButton{
    background-color: #606060;
    border-radius: 8px;
    color: antiquewhite;
}

.buttonHl{
    margin-left: auto;
    margin-right: auto;
}

.markLabelHl{
    margin-left: auto;
    margin-right: auto;
}

.infoHl{
    line-height: 150%;
    color: #525252;
    margin-left: auto;
    margin-right: auto;
    font-family: "Lucida Console", "Courier New", sans-serif;
}