.sButton{
    background-color: #606060;
    width: 100px;
    color: antiquewhite;
}

.sTextField{
    width: 1000px;
}

.firstHorizontalLayout{
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

.image{
    cursor: pointer;
    margin-top: -2%;
}

.searchLayout{
    margin-left: auto;
    margin-right: auto;
}

.imagesLayout{
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}