.sButton{
    background-color: aqua;
    width: 100px;
}

.sTextField{
    width: 1200px;
}

.firstHorizontalLayout{
    margin-top: 70px;
}

.image{
    cursor: pointer;
}

.searchLayout{
    margin-left: auto;
    margin-right: auto;
}